.termine {
  .meldung-aktuell {
    text-transform: none;
    margin-bottom: 20px;
  }
  .markt-meldung {
    font-size: 12px;
    margin-top: 5px;
    color: $brand-primary;
  }
  .markt-info {
    text-transform: uppercase;

    span {
      margin-right: 5px;
    }
    .flex-wrapper {
      display: flex;
      align-items: center;
      color: $brand-primary;
      margin: 8px 0 20px;

      svg {
        width: 30px;
        fill: $brand-primary;
        margin-left: 12px;
      }
    }
  }
  .custom-panel {
    border: 0 none;
    box-shadow: none;

    .ausfall {
      color: $brand-primary;
      font-weight: 500;
    }

    .custom-panel-heading {
      border: 0 none;
      border-radius: 0;
      color: #fff;
      background: #de3259;
      padding: 0;

      h4 a {
        display: block;
        padding: 12px 15px;

        &:focus,
        &:hover {
          text-decoration: none;
        }
      }
    }
    .panel-body {
      border: 0 none !important;

      span {
        margin-right: 5px;
      }
    }
  }
  .panel-group {
    margin-bottom: 5px;
  }
  .second-accordeon {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .termine {
    .markt-info .flex-wrapper {
      margin-top: 0;
    }
  }
}